.blogpost{
    background-color: #555555;
    padding: 1vw;
    width: 60%;
    margin:auto;
}

.posttext{
    width: 100%;
    height: 100%;
    background-color: #2A2A2A;
    border: 0.05vh solid white;
}

.blogpost h2{
    text-align: left;
    padding-left: 3vw;
}

.blogpost p{
    text-align: left;
    font-size: 1.5vw;
    margin:auto;
    padding: 3vw;
}