/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}
  
/* Right column */
.rightcolumn {
    float: left;
    width: 23%;
    padding-left: 1.6vw;
}
  
/* Image for card */
.thumbnail {
    width: 50%;
    float: left;
    height: 10vh;
}

.leftcolumn .thumbnail{
    height:45vh;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

/* Text for card */
.cardtext p{
    font-size: 1.5vw;
    float: left;
    text-align:left;
    width: 45%;
    padding-left: 2vw;
}

.card h2{
    font-size:1.2vw;
}

.card h5{
    font-size: 0.8vw;
}
  
/* Add a card effect for articles */
.card {
    background-color: #555555;
    padding: 1vw;
    margin-top: 3vh;
    height: 45vh;
}

.rightcolumn .card {
    height: initial;
}

.innerbox{
    width: 100%;
    height: 100%;
    background-color: #2A2A2A;
    border: 0.05vh solid white;
    overflow-y: hidden;
}

.innerbox:hover{
    opacity: 50%;
}

/* Second column effects */

.rightcolumn .card a h3{
    color: #a57967;
}
.rightcolumn .card a h3:active{
    color: #A94F2A;
}
.rightcolumn .card a h3:hover{
    color: #A94F2A;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*navbar*/
.blogbar{
    margin-top: 5vh;
    background-color: #555555;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 0.8vw;
}
.blogbar a{
    display:inline-block;
    width: 30%;
    color: #FFFFFF;
    padding-top: .5vh;
    padding-bottom: .5vh;
}
.blogbar a:active{
    color: #A94F2A;
    background-color: #2A2A2A;
}
.blogbar a:hover{
    color: #a57967;
    background-color: #2A2A2A;
}
.blogbar .navCurrent{
    background-color: #2A2A2A;
    color: #A94F2A;
}
  
/* Responsive layout - when the screen is less than 1000px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {

    @media screen and (orientation:portrait) {

        .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
        }

        /* Text for card */
        .cardtext p{
            font-size: 3.6vw;
            width: 45%;
            padding-left: 2vw;
        }

        .card h2{
            font-size:2.2vw;
        }
        .card h5{
            font-size:1.8vw;
        }

        /* Card Effect */
        .innerbox{
            border: 0.1vh solid white;
        }

        .card {
            padding: 2vw;
        }

        /*navbar*/
        .blogbar{
            width: 80%;
            font-size: 3.4vw;
        }

    }

}