/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}
  
/* Right column */
.rightcolumn {
    float: left;
    width: 23%;
    padding-left: 1.6vw;
}
  
/* Image for card */
.fakeimg {
    background-color: #2A2A2A;
    width: 50%;
    float: left;
    padding: 1.6vw;
}

/* Text for card */

.cardtext p{
    font-size: 3.5vh;
    float: left;
    text-align:left;
    width: 40%;
    padding-left: 2.5vw;
}
  
/* Add a card effect for articles */
.card {
    background-color: #555555;
    padding: 1vw;
    margin-top: 3vh;
    height: 45vh;
    padding-bottom:4vh;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.rightcolumn .card {
    height: 153vh;
}
  
/* Responsive layout - when the screen is less than 800px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}